.vscode

# BACKEND
backend/node_modules
backend/dist/
backend/build/
backend/out/
backend/.env

# FRONTEND
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
logs
*.log
frontend/npm-debug.log*
backend/npm-debug.log*